* {
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
}

.svg-container {
  position: relative;
}

.svg-layers {
  width: 300px;
  @media only screen and (max-width: $screen-xs-max) {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
  @media only screen and (min-width: $screen-sm-min) {
    position: absolute;
    right: 0;
    top: 150px;
  }
  @media only screen and (min-width: $screen-lg-min) {
    top: 50px;
    width: 400px;
  }

  #first {
    transform: translate(0,-100px);
    transition: all 1s;
  }
  #third {
    transform: translate(0,100px);
    transition: all 1s;
  }
  #first, #third {
    &.get-together {
      transform: translate(0,0);
    }
  }
}
