.carousel-control {
    &.left,
    &.right {
      background: none;
      filter: none;
    }
    left: -15px;
    &.right {
      right: -15px;
    }
  @media only screen and (min-width: $screen-md-min) {
    left: -60px;
    &.right {
      right: -60px;
    }
  }
}

.carousel-inner {
  min-height: 300px;
}
