.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default  {
  .navbar-toggle {
    .icon-bar + .icon-bar {
      margin-top: 8px;
      transition: all 300ms;
    }
    &.collapsed .icon-bar + .icon-bar {
      margin-top: 4px;
    }
    @media only screen and (max-width: $screen-xs-max) {
      &,
      &:focus,
      &:hover {
        background: $brand-primary;
      }
    }
  }

  @media only screen and (max-width: $screen-xs-max) {
    .container-fluid {
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 0;
      width: 100%;
    }
    button {
      position: fixed;
      right: 0;
      z-index: 99999999999;
    }

    .navbar-header {
      position: relative;
      height: 58px;
    }
  }
  border: none;
  margin-bottom: 0;
  min-height: 0;
  background: none;
  a {
    background: $navbar-default-bg;
  }
  .navbar-collapse {
    border: none;
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .header {
    .container {
      position: relative;
    }
    .navbar-default .navbar-nav > li > a {
      color: transparentize($white, .2);
      &:hover {
        color: $white;
      }
    }
  }
  .navbar {
    position: static;
  }
  .navbar-list {
    position: absolute;
    left: 0;
    top: 50%;

    &.is_stuck {
      z-index: 9999999999;
    }
    .navbar-nav {
      border-left: 1px solid $white;
      & > li {
        float: none;
        text-align: left;
        &:first-child a {padding-top: 0;}
        &:last-child {
          line-height: 0;
          margin-top: 8px;
        }
        &:last-child a {
          display: inline;
          padding-right: 0;
          padding-bottom: 0;
          line-height: 1;
          color: $text-muted;
          & + a {padding-left: 0;}
        }
        &.active {
          & > a {
            font-weight: bold;
            color: $white;
            background: none;
            &:hover {
              background: none;
              color: transparentize($white, .2);
            }
          }
        }
        a {
          border: none;
          line-height: 1;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 20px;
          text-transform: uppercase;
          font-size: 12px;
          &:hover {
            color: transparentize($white, .4);
          }
        }
      }
    }
  }
  .container-wrapper {
    .navbar-list {
      opacity: 0;
      top: auto;
      left: auto;
      width: 14.5%;
      padding-left: 15px;
      padding-right: 15px;
      margin: 90px 0 50px 0;
      border-left: 1px solid lighten($gray-light, 40%);

      img {
        max-width: 132px;
        margin-bottom: 50px;
        margin-top: -40px;
      }
      .navbar-nav {
        border: none;
        & > li {
          &:last-child a {
            color: $gray-light;
          }
          a {
            padding-left: 0;
            color: $text-color;
            &:hover {
              color: $link-color;
              background: none;
            }
          }
        }
      }
    }
  }
}
