#RewriteEngine on
#RewriteCond %{REQUEST_URI} ^$
#RewriteCond %{HTTP:Accept-Language} (^en) [NC]
#RewriteRule .* http://prysm.dev/index-en.html [R,L]

DirectoryIndex index
AddLanguage en .en
AddLanguage fr .fr
LanguagePriority fr en
DefaultLanguage fr
