.readmore-button {
  display: inline-block;
  padding: 5px 25px;
  border-radius: 21px;
  border: 1px solid $brand-primary;
  &.readless{
    display: inline-block;
  }
  &.readmore{
      display: none;
  }
  &.collapsed {
    &.readless{
      display: none;
    }
    &.readmore{
      display: inline-block;
    }
  }
  &:hover, &:focus {
    text-decoration: none;
  }
}

a.active {
  font-weight: bold;
}
