<header class="header text-center bg-primary full-height" id="top">
  <div class="container">
    <h1>
      <img src="build/svg/logo.svg" onerror="this.onerror=null; this.src='build/img/logo.png'" alt="PRYSM" />
    </h1>
    <div class="row">
      <div class="col-sm-6">
        <p>Thank you!</p>
        <p>Your message has been delivered to our mailbox and will be processed within 24 hours. If you can’t wait that long, please feel free to call us: +41 21 331 44 44.</p>
        <p><small>Best regards,<br>The Prysm team</small></p>

        <div class="spacer spacer-lg"></div>
      </div>
      <div class="col-sm-6">
        <p>Merci!</p>
        <p>Votre message nous est bien parvenu et sera traité dans les prochaines 24 heures. S'il vous faut une réponse plus rapide, n'hésitez pas à nous appeler au +41 21 331 44 44.</p>
        <p><small>L'équipe Prysm</small></p>
      </div>
    </div>
    <div class="spacer spacer-xs"></div>
    <a href="index.html" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></a>
  </div>
</header>
