---
dest: site/confirmation.html
---
<header class="header text-center bg-primary full-height header-small" id="top">
  <div class="container">
    <h1>
      <img src="build/svg/logo.svg" onerror="this.onerror=null; this.src='build/img/logo.png'" alt="PRYSM" />
    </h1>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <p>Thank you!</p>
        <p>Your message has been delivered to our mailbox and will be processed within 24 hours. If you can’t wait that long, please feel free to call us: +41 21 331 44 44.</p>
        <p><small>Best regards,<br>The Prysm team</small></p>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="spacer spacer-xs"></div>
        <a href="index.html" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left small"></span> Back</a>
      </div>
    </div>
  </div>
</header>
