---
dest: site/confirmation.fr.html
---
<header class="header text-center bg-primary full-height header-small" id="top">
  <div class="container">
    <h1>
      <img src="build/svg/logo.svg" onerror="this.onerror=null; this.src='build/img/logo.png'" alt="PRYSM" />
    </h1>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <p>Merci!</p>
        <p>Votre message nous est bien parvenu et sera traité dans les prochaines 24 heures. S'il vous faut une réponse plus rapide, n'hésitez pas à nous appeler au +41 21 331 44 44.</p>
        <p><small>L'équipe Prysm</small></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="spacer spacer-xs"></div>
        <a href="index.fr.php" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left small"></span> Back</a>
      </div>
    </div>
  </div>
</header>
