<header class="header text-center bg-primary">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="container-fluid">
        <div class="collapse navbar-collapse navbar-list" id="navbar-main">
          <ul class="nav navbar-nav">
            <li><a href="#nous">Nous</a></li>
            <li><a href="#approche-prysm">L'approche Prysm</a></li>
            <li><a href="#services">Nos Services</a></li>
            <li><a href="#clients">Nos Clients</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <h1>
      <img src="../build/svg/logo.svg" onerror="this.onerror=null; this.src='../build/img/logo.png'" alt="PRYSM" />
    </h1>
    <p>Stratégies fiscales sur mesure depuis 2004.</p>
    <div class="spacer spacer-xs"></div>
    <a href="#contact" class="btn btn-default">Contact</a>
  </div>
</header>

<div class="container-wrapper clearfix" id="container-wrapper">
  <div class="container">
    <div class="row">
      <div class="navbar-list hidden-xs hidden-sm" id="sidebar-nav" aria-hidden="true">
        <img class="img-responsive" src="../build/svg/logo-small-red.svg" onerror="this.onerror=null; this.src='../build/img/logo-small-red.png'" alt="PRYSM" />
        <ul class="nav navbar-nav">
          <li><a href="#nous">Nous</a></li>
          <li><a href="#approche-prysm">L'approche Prysm</a></li>
          <li><a href="#services">Nos Services</a></li>
          <li><a href="#clients">Nos Clients</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-foggy" id="nous">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="spacer spacer-sm"></div>

          <h2>Pourquoi faire appel à nous?</h2>

          <p><b>Nous créons des stratégies sur mesure pour aider nos clients suisses et internationaux à sécuriser et optimiser leurs affaires fiscales.</b> Vous pourrez avoir besoin de nos conseils si vous êtes expatrié en Suisse, si vous avez été salarié dans plusieurs pays, si vous possédez une entreprise, des biens immobiliers ou un patrimoine de toute nature, par exemple.</p>

          <p>Nous assistons aussi les <strong>entreprises internationales</strong> qui souhaitent obtenir des conseils et un soutien administratif pour gérer les implications fiscales liées à la situation particulière de cadres et collaborateurs, notamment expatriés. </p>

          <div class="spacer spacer-sm"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-2">

        <div class="spacer spacer-sm" id ="approche-prysm"></div>

        <h2>L'approche Prysm</h2>

        <h3>Une équipe expérimentée et stable</h3>

        <p>Pour vous accompagner efficacement dans la durée, nous avons mis sur pied <strong>une équipe de spécialistes chevronnés</strong>. Parfaitement à l’aise avec les problématiques suisses et internationales, nos collaborateurs parlent tous anglais et peuvent s’appuyer sur un <strong>réseau de contacts à l’étranger</strong> pour répondre aux questions fiscales spécifiques.</p>

        <h3>Qualité suisse</h3>

        <p>Nous aimons le travail bien fait et mettons tout en œuvre pour vous servir avec le plus grand soin. Nous prenons le temps de vous rencontrer, de vous écouter et de comprendre vos attentes spécifiques. Notre savoir-faire technique et notre approche sur mesure nous permettent de proposer une stratégie individualisée à chacun de nos clients.</p>

        <h3>Indépendance sans compromis</h3>

        <p>Nous avons fondé Prysm afin de pouvoir préserver notre liberté d’action: travailler en toute autonomie, de façon flexible et réellement personnalisée. Nous n’avons de comptes à rendre qu’à nos clients et avons adopté un mode d’organisation agile, qui permet de vous consacrer un maximum de temps.</p>

        <div class="spacer spacer-sm"></div>
      </div>
    </div>
  </div>
  <div class="bg-foggy bg-logo-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2" id="services">
          <div class="spacer spacer-sm"></div>

          <h2>Nos services</h2>

          <h3>Stratégie fiscale</h3>

          <p>Optimiser votre fiscalité de façon efficace ne peut pas se faire au coup par coup. C’est une affaire de dosages subtils et d’efforts coordonnés qui ne se conçoit que comme une planification dans la durée. Pour cela, nous nous appuyons sur tous les moyens à disposition:</p>

          <ul>
            <li>investissement et financement immobilier </li>
            <li>retraite et prévoyance </li>
            <li>succession et héritage</li>
            <li>structuration du patrimoine </li>
            <li>transmission d’entreprise</li>
          </ul>

          <h3>Assistance fiscale</h3>

          <p>Notre motivation est de faciliter la vie de nos clients. C’est pourquoi notre service d’assistance fiscale vous libère de toutes les tâches liées à la conception, la préparation et le suivi de la déclaration d’impôt.<br>
          Nous prenons aussi en charge les échanges avec les autorités, pour qui Prysm constitue un label de qualité et de confiance.</p>

          <h3>Services pour entreprises multinationales</h3>

          <p>Nous conseillons les équipes RH sur les implications fiscales des rémunérations et avantages offerts aux cadres et expatriés. <br>
          Nous négocions les accords fiscaux nécessaires avec les autorités et apportons à ces équipes un soutien administratif à différents niveaux:</p>

          <ul>
            <li>attestations des participations collaborateurs</li>
            <li>calcul de gross up</li>
            <li>simulation</li>
            <li>assistance fiscale aux collaborateurs</li>
          </ul>

          <h3>Accompagnement d’entrepreneurs et de PME</h3>

          <p>Outre un conseil fiscal et des services de soutien adaptés aux problématiques des petites entreprises, nous accompagnons également les propriétaires d’entreprises et les cadres à travers toute une gamme de services fiduciaires:</p>

          <ul>
            <li>accompagnement à la création d’entreprise</li>
            <li>pay-roll et comptabilité</li>
            <li>assistance fiscale</li>
          </ul>

          <div class="spacer spacer-md"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2" id="clients">
        <div class="spacer spacer-sm"></div>

        <h2>Nos Clients</h2>

        <p>Nous conseillons les personnes qui souhaitent obtenir une vision fiscale dans la durée. Les compétences pointues de notre équipe sont particulièrement appréciées dans les situations complexes: expatriés, cadres supérieurs ou propriétaires d’entreprises.</p>

        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner" role="listbox">
            <div class="item active">

              <div class="media">
                <div class="media-left media-middle">
                  <a href="#">
                    <img class="img-circle media-object" src="http://placehold.it/120x120" alt="image">
                  </a>
                </div>
                <div class="media-body">
                  <div class="spacer spacer-xs"></div>
                  <blockquote>
                    <p>Thanks for your help on a sunday morning. I really do appreciate it. It only confirms I made the right choice of providers.</p>
                    <footer>Bryan Gennes</footer>
                  </blockquote>
                </div>
              </div>

            </div>
            <div class="item">

              <div class="media">
                <div class="media-left media-middle">
                  <a href="#">
                    <img class="img-circle media-object" src="http://placehold.it/120x120" alt="image">
                  </a>
                </div>
                <div class="media-body">
                  <div class="spacer spacer-xs"></div>
                  <blockquote>
                    <p>Thanks for your help on a sunday morning. I really do appreciate it. It only confirms I made the right choice of providers.</p>
                    <footer>Bryan Gennes</footer>
                  </blockquote>
                </div>
              </div>

            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-testimonials" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-testimonials" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="spacer spacer-lg"></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2" id="contact">
      <div class="spacer spacer-sm"></div>

      <h2>Contact</h2>

      <div class="row">
        <div class="col-sm-6">
          <address>
            Grand-Pont 8 / PO Box 7123<br>
            CH-1002 Lausanne
          </address>
        </div>
        <div class="col-sm-6">
          <p>Phone: +41 21 331 44 44<br>
          Fax: +41 21 331 44 45<br>
          Mail: <a href="mailto:info@prysm.ch">info@prysm.ch</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-foggy">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <form action="http://mailing.antistatique.net/t/r/s/ihkutkk/" method="post" id="subForm">
          <div class="spacer spacer-md"></div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="fieldName">Name</label><br />
                <input id="fieldName" class="form-control" name="cm-name" type="text" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="fieldihhlsk">Phone Number</label><br />
                <input id="fieldihhlsk" class="form-control" name="cm-f-ihhlsk" type="text" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="fieldEmail">Email</label><br />
            <input id="fieldEmail" class="form-control" name="cm-ihkutkk-ihkutkk" type="email" required />
          </div>
          <div class="form-group">
            <label for="fieldihhlst">Message</label><br />
            <textarea maxlength="250" name="cm-f-ihhlst" class="form-control" id="fieldihhlst" cols="30" rows="3"></textarea>
            <p class="help-block" id="textarea-help"></p>
          </div>
          <div class="clearfix">
            <button class="btn btn-primary pull-right" type="submit">Subscribe</button>
          </div>
        </form>
        <div class="spacer spacer-md"></div>
      </div>
      <div class="col-sm-6">
        <a style="height: 510px; display: block;" class="focuspoint" data-focus-x="0" data-focus-y="0" data-image-w="2172" data-image-h="1406" href="https://www.google.ch/maps/place/Rue+du+Grand-Pont+8,+1003+Lausanne/@46.5215843,6.6305324,17z/data=!3m1!4b1!4m2!3m1!1s0x478c2e320666b417:0x80f023fdc37cb65c?hl=en"><img class="img-responsive" src="../build/img/map_2.png" alt="Access Map"></a>
      </div>
    </div>
  </div>
</div>
<div class="spacer spacer-md clearfix"></div>

